extends layout

block content

  h2 Are you sure you want to delete this product?

  ul  
    li
      p= product.name
    li
      a(href=category.url) #{category.name}
    li 
      p= product.description
    li 
      p= product.price
    li 
      p= product.quantity

    form.delete-form(method='POST')
      button(type='submit') Delete
