extends layout

block content

  ul  
    li
      p= product.name
    li
      a(href=category.url) #{category.name}
    li 
      p= product.description
    li 
      p= product.price
    li 
      p= product.quantity

  a(href=`/catalog/product/${product._id}/delete`) Delete this product
